# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/test-results
/allure-results
/allure-report
/playwright-report

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# next image optimizer
**/nextImageExportOptimizer/
/public/media/images/next-image-export-optimizer-hashes.json

.idea

# generated calendars
public/events.ics
public/internal-events.ics

# internal events
lib/events.internal.ts
public/search-index.json
.env

# python
__pycache__/
*.py[cod]

